#display-rgb-hex, #display-hex-rgb{
    display: none;
    flex-direction: column;
    width: 50%;
    height: 80%;
    justify-content: space-between
}
.container{
    display: flex;
    flex-direction: column;
  }
  .header-section-col{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .header-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    text-align: center;
    min-height: 10vh;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  }
  .header-image{
    width: 10%;
  }
.main-content{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
.card-conatiner{
    width:40vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
.result-card{
    width: 40vw;
    height: 80vh;
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  
  }
.color-and-result-display{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }
.card{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 1px 2px 10px rgba(0, 0.2, 0.2, 0.2);
    margin: 4px;
    flex-wrap: wrap;
  }


input{
    border: 0;
    border-bottom:1px solid #555; 
    background: transparent;
    padding: 8px 0 5px 0;
    color: rgb(19, 18, 18);
  }
input:focus{
    border:none;
    outline: none;
    border-bottom: 1px solid rgb(150, 129, 129);
    color: black;
  }

button {
    background-color: white;
    border: 2px solid rgb(148, 134, 134);
    color: black;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 14px;
  }
button:hover{
    background-color:  rgb(148, 134, 134); 
    border: 2px solid rgb(148, 134, 134);
    color: white;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 14px;
    box-shadow: 1px 2px 10px rgba(0, 0.3, 0.3, 0.3);
  
  }

#rgbtohex-color-display,#hextorgb-color-display{
    height: 70px;
    width: 50px;
    border-radius: 10px;
}
